
<div class="container">
    <div class="header">
        <h1 id="header">StatistiBall</h1>
    </div>


<div class="allData">
    
        
        <div class="explain">

            <span style="text-decoration: underline;">statistiBall</span><br><br>
            <h1>The app that will give you a different gaming experience</h1><br><br>
            <p>I do not know what I will do tomorrow, I just know for sure that I will continue to play basketball</p>
            
        <div class="buttons">
    <button class="login" (click)='login()'>
       login
    </button>

   <button class="registration" (click)='registration()'>
        registration
   </button>
</div><br><br><br>
<p>&copy; 2020 - StatistuBall</p>
</div>

<div class="img">
    <img src="assets/image/inageHome.jpg" >
</div>
</div>

</div>