<div class="container" style="margin-top: 3%;" ><br>
 
    <h1 style="text-decoration: underline; font-size: 70px; text-align: center;">List of players </h1><br><br>
    <div class="allCard" >
        <div class="wrap" *ngFor='let i of arr'>
            <div class="flip-card">
                <div class="flip-card-inner">
                  <div class="flip-card-front">
                    <img src={{i.img}} style="width:200px;height:230px; border: rgb(14, 13, 13) solid 3px;">
                  </div>
                  <div class="flip-card-back">
                    <h1 style="text-decoration: underline;">{{i.name}}</h1><br> <br>
                    <h3>{{i.height}}m</h3> 
                    <h5>{{i.PlayerPosition}}</h5>
                  </div>
                </div>
              </div>
              <br> <button type="button" class="btn btn-danger" style="border: rgb(14, 13, 13) solid 3px;" (click)='delete(i.id)'>Delete</button>
            </div>
    </div>
</div>