<div class="container-sm">
<form class="form-signin" [formGroup]="signInFromG">

<div class="container-register-form ">
    <div class="form" >

      <div class="note">
        <p style="text-decoration: underline;">StatistiBall-LogIn</p>
      </div><br><br>

      <div class="form-content">

        <div class="rishum">
          <div class="Name">
            <input type="text" #inputNameGrup formControlName='nameGrup' class="form-control" placeholder="grup name *"
              value="" /><br>
          </div><br>

          <div class="form-group">
            <input type="password" #inputPassword formControlName='myPassword' class="form-control"
              placeholder="Your Password *" value="" /><br>
          </div><br>

          <label style="color: seashell;">
            <input type="checkbox" #rememberMe value="true"> Remember me
          </label>

        </div>
      </div><br>
      <button type="button"  class="btnSubmit" (click)='guard(inputNameGrup.value,inputPassword.value,rememberMe.value)' >Submit</button><br>

    </div>
  </div>
</form>
<!-- <button style="background: red; border-radius: 50%; width: 25%; height: 250px">click me</button> -->

</div>